body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #9A208C;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.nav .nav-link a {
    text-decoration: none;
    color: white;
}

.bi-chat-dots{
    color: #fff;
}

.navbar-toggler{
    background-color: #ffeae6;
}